.container::before, .container::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg, rgb(129, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 300%;
    border-radius: 10px;
    animation:AnimarBorda 10s linear infinite;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg, rgb(255, 0, 0), black, rgb(247, 16, 0));
    background-size: 300%;
    border-radius: 10px;
    animation: AnimarBorda 10s linear infinite;
}

@keyframes AnimarBorda {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 200% 0%;
    }
    75% {
        background-position: 300% 0%;
    }
    100% {
        background-position: 400% 0%;
    }
}