.item{
    position: relative;
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.item img{
    width: 90%;
    height: 200px;
}

.item a {
    font-size: 2em;
}

.item:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.2s;
}

.item::after{
    filter:blur(50px)
}

.item button{
    margin-top: 5px;
    color: rgb(14, 14, 14);
    border-style: none;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-family: cal sans;
    font-size: 20px;
}

.items{
    padding: 5px;
    margin-top: 2%;
    justify-content: space-evenly;
    display: flex;
}


.box::after{
    filter: blur(50px);
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
}