nav{
    background-color: rgb(129, 0, 0);
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-family: cal sans;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    transform: translatex(-5px);
    transition: all 0.2s;
}
