@media (max-width: 768px) { 
    nav{ 
        font-size: 16px;
    } 
}
@media (max-width:480px) {
    nav {
        font-size: 12px;
    }
}
@media (max-width:300px) {
    nav {
        font-size: 8px;
    }
}

@media (max-width: 768px) { 
    .items, .item{
        font-size: 16px;
    }
    .item img{
        width: 90%;
        height: 100px;
    } 
}

@media (max-width:480px) {
    .item{
        padding: 2px;
    }
    .items .item a button{
        font-size: 10px;
    }
    .item img{
        width: 90%;
        height: 50px;
    }
}
