@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Arimo:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: rgb(28, 28, 29);
}


.container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: rgb(14, 14, 14);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: white;
    font-family: cal sans;
    font-size: 20px;
}

.container img{
    width: 80%;
    height: 40%;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: cal sans;
    font-size: 50px;
    color: white;
}

.imagem img{
    width: 100%;
    border: none;
    border-radius: 10px;
}

